{% extends "base.html.twig" %}

{% block header %}
	<div id="topBar">
		<div>Symfoheim</div>
		<div>
			{% if app.user %}
				👤
				{{ app.user.nickname }}
				&emsp;
				<a href="{{ path('app_logout') }}">Log out</a>
			{% else %}
				Login/Register
			{% endif %}
		</div>
	</div>
	<div id="pageTitle">
		<img src="{{asset(titleImage)}}" alt="{{ pageTitle }} illustration"/>

		<h1 title={{ pageTitle }}>
			{{ pageTitle }}
		</h1>
	</div>
{% endblock %}
